<footer id="footer" class="footer {{'auth' if auth else ''}}">
    <!-- {% if tools_page %}
        <div class="container footer-top">
            <div class="row gy-3">
                <div class="col-lg-3 col-md-4 footer-links">
                    <h4>DNS Scanner</h4>
                    <div class="footer-base">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">Mx Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">DNS Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">DKIM Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">SPF Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">DMARC Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">CAA Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">Domain Name Search</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 footer-links">
                    <h4>IP Scan</h4>
                    <div class="footer-base">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">IP Address Blacklist Check</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">Bulk IP Blacklist Check</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">RDNS Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">Whatis my IP</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 footer-links">
                    <h4>SSL Scan</h4>
                    <div class="footer-base">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">SSL Checker</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">CAA Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">SSL Security Scan</a>
                            </li>
                        </ul>
                    </div>
                    <br />
                    <h4>Other tools</h4>
                    <div class="footer-base">
                        <ul>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">Whois Lookup</a>
                            </li>
                            <li>
                                <i class="bi bi-chevron-right"></i><a href="#">Web Scanner</a>
                            </li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-12">
                    <div class="footer-links">
                        <h4>Company</h4>
                        <div class="footer-base">
                            <ul>
                                <li>
                                    <i class="bi bi-chevron-right"></i><a href="#">Contact Us</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i><a href="#">Blog</a>
                                </li>
                                <li>
                                    <i class="bi bi-chevron-right"></i><a href="#">Pricing</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <h4>Follow Us</h4>
                        <div class="social-links d-flex">
                            <a href="https://x.com/dnsloader" aria-label="Follow DNSLoader on X"><i class="bi bi-twitter-x"></i></a>
                            <a href="https://www.facebook.com/people/dnsloader/61571852318218/"
                               aria-label="Follow DNSLoader on Facebook"><i class="bi bi-facebook"></i></a>
                            <a href="https://www.youtube.com/@dnsloader"
                               aria-label="Follow DNSLoader on Youtube"><i class="bi bi-youtube"></i></a>
                            <a href="https://linkedin.com/company/dnsloader"
                               aria-label="Follow DNSLoader on LinkedIn"><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %} -->
    <div class="container copyright {{'auth' if auth else 'mt-4'}} text-center">
        <p>
            © <span>Copyright</span> <strong class="px-1 sitename">Justdial Scraping</strong> <span>All Rights Reserved</span>
        </p>
    </div>
</footer>